<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wudaokou.easylearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EasyLearn"
        android:usesCleartextTraffic="true">
        <activity android:name=".OrganizeResultActivity"></activity>
        <activity android:name=".OrganizeActivity" />
        <activity android:name=".KnowledgeQueryActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".StarHistoryActivity" />
        <activity android:name=".BrowsingHistoryActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".QuAnActivity"
            android:exported="true" />
        <activity android:name=".AnswerActivity" />
        <activity android:name=".QuestionRecommendActivity" />
        <activity
            android:name=".EntityInfoActivity"
            android:label="@string/title_activity_entity_info"
            android:theme="@style/Theme.EasyLearn.NoActionBar" />
        <activity android:name=".EntityLinkResultActivity" />
        <activity android:name=".EntityLinkSearchActivity" />
        <activity
            android:name=".SearchResultActivity"
            android:parentActivityName=".SearchableActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SearchableActivity" />
        </activity>
        <activity
            android:name=".SearchableActivity"
            android:parentActivityName=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".SubjectManageActivity"
            android:label="@string/title_activity_subject_manage"
            android:parentActivityName=".MainActivity">

            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>